* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul, ul, li {
  list-style-type: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
  font-family: sans-serif;
  font-size: 14px;
  background: #F5F5F5;
  letter-spacing: .5;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.overlay {
  height: 0;
  -webkit-transition: opacity .5s ease;
  transition: opacity .5s ease;
}

.overlay .modal {
  height: 0;
  position: absolute;
  left: -99999px;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
}

.overlay.active {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay.active .modal {
  position: static;
  opacity: 1;
  height: auto;
}

.modal {
  min-width: 320px;
  max-width: 640px;
  background: #fff;
  border-radius: 5px;
  opacity: 1;
}

.modal .section-title {
  font-size: 18px;
  font-weight: 400;
  color: #000;
}

.modal .close {
  height: 16px;
  width: 16px;
  background-image: url("../assets/icon-x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.modal .modal-header {
  padding: 12px 16px;
  border-bottom: 1px solid #EBEBEB;
}

.modal .modal-body {
  padding: 12px 16px;
  color: #535353;
  line-height: 1.5;
  font-size: 16px;
  border-bottom: 1px solid #EBEBEB;
}

.modal .modal-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 52px;
  width: 100%;
}

.modal .modal-btn-container .modal-btn {
  height: 32px;
  width: auto;
  padding: 4px 12px;
  color: #535353;
  border: 1px solid #ACACAC;
  border-radius: 2px;
  margin-right: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.modal .modal-btn-container #to-survey {
  color: white;
  font-weight: 600;
  background: #1C92C8;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.row.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

::-webkit-scrollbar {
  display: none;
}

#content {
  width: 100%;
  height: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

header {
  width: 100%;
  height: 52px;
  background: #fff;
  position: relative;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 1px 5px #CCCCCC;
          box-shadow: 0px 1px 5px #CCCCCC;
}

header .header-container {
  position: relative;
  width: inherit;
  height: inherit;
}

header .header-container #search-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: inherit;
  width: auto;
}

.nav-links {
  width: auto;
  height: inherit;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-links .link-picture {
  height: inherit;
  width: auto;
}

.nav-links #link-meetings {
  width: 80px;
  height: inherit;
  position: relative;
}

.nav-links #link-meetings .link-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-links #link-meetings .link-container p {
  font-size: 12px;
  color: #000;
}

.nav-links #link-meetings .link-container img {
  margin-bottom: 6px;
}

.nav-links #link-meetings .active-bar {
  height: 2px;
  width: 100%;
  position: absolute;
  background: #000;
  bottom: 0;
}

#page {
  height: calc(100vh - 55px);
  overflow: scroll;
  width: 100%;
  padding: 0 55px;
}

#page .section-header h3 {
  padding: 16px 0;
  text-align: center;
  width: 100%;
  font-weight: 600;
  text-decoration: underline;
  font-size: 16px;
  color: #535353;
}

#page .section-header h3 .highlight {
  color: #1C92C8;
  -webkit-text-decoration-color: #1C92C8 !important;
          text-decoration-color: #1C92C8 !important;
}

#meetings {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

#meetings .col img {
  display: block;
  margin: auto;
}

#meetings .meeting-holder {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #E1E1E1;
  -webkit-box-shadow: 0px 0px 4px 1px #CCCCCC;
          box-shadow: 0px 0px 4px 1px #CCCCCC;
}

#meetings .meeting-holder .section-title {
  padding: 24px 16px 0px 16px;
  border-bottom: 1px solid #EBEBEB;
}

#meetings .meeting-holder .section-title h2 {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  display: block;
  margin-bottom: 16px;
}

#meetings .meeting-holder .section-title .calendar-tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-bottom: 16px;
}

#meetings .meeting-holder .section-title .calendar-tabs .pill {
  cursor: pointer;
  margin-right: 16px;
  border-radius: 500px;
  text-align: center;
  background: #E6EAEE;
  height: 32px;
  padding: 0 16px;
}

#meetings .meeting-holder .section-title .calendar-tabs .pill p {
  vertical-align: middle;
  color: #535353;
  font-size: 16px;
  line-height: 32px;
}

#meetings .meeting-holder .section-title .calendar-tabs .active {
  background: #5C6F7C;
}

#meetings .meeting-holder .section-title .calendar-tabs .active p {
  color: #fff;
}

#meetings .meeting-holder .holder-text {
  color: #ACACAC;
  font-size: 14px;
  line-height: 1.7;
  font-size: 16px;
  margin: 16px 0;
  text-align: center;
  color: #ACACAC;
}

#meetings .meeting-holder .holder-text.left {
  text-align: left;
  font-size: 14px;
}

#meetings .meeting-holder .holder-text p {
  margin-bottom: 8px;
}

#meetings .meeting-holder .holder-text .highlight {
  color: #1C92C8;
  font-weight: 600;
}

#meetings #meetings-calendar {
  width: 100%;
  height: auto;
  min-width: 340px;
}

#meetings #meetings-calendar #meeting1, #meetings #meetings-calendar #meeting2 {
  display: none;
}

#meetings #instructions {
  min-width: 180px;
  width: 100%;
  height: auto;
}

#meetings #instructions #footer-img {
  margin: auto;
}

#meetings .divider {
  height: 2px;
  width: 100%;
  background: #EBEBEB;
  margin: 16px 0;
}

#scheduled1 {
  display: none;
}

#scheduled1.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#meetings-container {
  width: 100%;
}

.cal-container {
  display: none;
}

.cal-container.active {
  display: block;
}

.meeting-section {
  width: 100%;
  height: auto;
  border-top: 1px solid #E1E1E1;
  padding: 12px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.meeting-section .prof-pic {
  margin-top: 4px;
}

.meeting-section .more {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.meeting-section .meeting-details {
  padding: 0 12px;
  font-size: 14px;
  color: #535353;
}

.meeting-section .meeting-details p {
  line-height: 1.7;
  font-size: 12px;
  letter-spacing: .5;
}

.meeting-section .meeting-details .title {
  font-size: 14px;
  font-weight: 700;
  color: black;
}

.meeting-section .meeting-details .row-participants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 6px;
}

.meeting-section .meeting-details .row-participants > .prof-pic:nth-child(n+1) {
  margin-left: -6px;
}

.meeting-section .meeting-details .send-date {
  color: #ACACAC;
  font-weight: 600;
  letter-spacing: .4;
  margin-top: 12px;
}

#meetings-schedule {
  margin: 0 24px;
  width: 100%;
}

#meetings-schedule .form-container {
  width: 100%;
  height: 100%;
  padding: 24px;
}

#meetings-schedule .form-container section {
  margin-bottom: 32px;
}

#meetings-schedule .form-input {
  width: 100%;
  margin-bottom: 16px;
}

#meetings-schedule .form-input .input-title {
  font-size: 14px;
  color: #000;
  margin-bottom: 10px;
}

#meetings-schedule .form-input .input {
  width: 100%;
  min-height: 32px;
  border: 1px solid #535353;
  border-radius: 2px;
  padding: 8px;
  height: auto;
  line-height: 1.25;
}

#meetings-schedule .form-input .input.inactive {
  color: #ACACAC;
}

#meetings-schedule .form-input .input.time-zone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
}

#meetings-schedule .form-input .input-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#meetings-schedule .form-input .input-row > .input {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 48px;
}

#meetings-schedule .form-input .input-row .half {
  width: 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 16px;
}

#meetings-schedule .form-input .input-row .fourth {
  width: 24%;
  padding: 0 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#meetings-schedule .form-input .input-row .fourth .arr-down {
  margin-left: 16px;
}

.input-pill {
  border-radius: 500px;
  height: 28px;
  width: 140px;
  background: #E6EAEE;
  padding: 0 16px;
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-pill img {
  display: inline-block;
}

.input-pill div {
  display: inline-block;
}

.input-pill .participant-name {
  width: auto;
}

.radio-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  margin-top: 16px;
}

.radio-container .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 24px;
}

.radio-container .radio .radio-select {
  width: 16px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  margin-right: 16px;
}

.radio-container .radio .radio-select.active {
  border: 5px solid #1C92C8;
}

.schedule-buttons {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.schedule-buttons .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.schedule-buttons .btn {
  height: 40px;
  padding: 0 24px;
  font-size: 18px;
  font-weight: 600;
  color: #ACACAC;
  line-height: 40px;
}

.schedule-buttons #submit {
  background: #1C92C8;
  color: white;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.schedule-buttons #submit:active {
  background: #283E4A;
}

.schedule-buttons #submit.success {
  background: #469A1F;
}

.schedule-buttons #submit #success-check {
  display: none;
}

.schedule-buttons #submit #success-check.active {
  display: block;
  margin-left: 12px;
}

.prof-pic {
  background: white;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.prof-pic.md {
  width: 32px;
  height: 32px;
}

.prof-pic.lrg {
  width: 48px;
  height: 44px;
}

.prof-pic.sm {
  width: 24px;
  height: 24px;
}

.prof-pic.user {
  background-image: url("../img/picture-user.jpg");
}

.prof-pic.troy {
  background-image: url("../img/picture-troy.jpg");
}

.prof-pic.jeff {
  background-image: url("../img/picture-jeff.jpg");
}

.prof-pic .status-icon {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #469A1F;
  border-radius: 50%;
  border: 1px solid #fff;
  bottom: 0;
  right: 0;
}

#loader {
  display: none;
  border: 2px solid #f3f3f3;
  /* Light grey */
  border-top: 2px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 16px;
  height: 16px;
  margin-left: 12px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

#loader.active {
  display: block;
}

footer {
  position: fixed;
  z-index: 1000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: visible;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

footer #message-box {
  height: 48px;
  width: 280px;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 16px;
  border-radius: 5px 5px 0px 0px;
  margin-left: 16px;
  -webkit-box-shadow: 0px 0px 7px #CCCCCC;
          box-shadow: 0px 0px 7px #CCCCCC;
}

footer #message-box .message-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer #message-box .message-status > * {
  margin-right: 12px;
}

footer #message-box .message-status h3 {
  font-weight: 500;
  color: #535353;
  font-size: 14px;
  letter-spacing: .3px;
}

footer #message-box .messaging-icons {
  position: absolute;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  direction: flex-end;
}

footer #message-box .messaging-icons img {
  margin-left: 16px;
}

footer .chat {
  margin-left: 18px;
  border-radius: 5px 5px 0px 0px;
  width: 195px;
  height: 48px;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition-duration: 167ms;
          transition-duration: 167ms;
  display: block;
  -webkit-box-shadow: 0px 0px 7px #CCCCCC;
          box-shadow: 0px 0px 7px #CCCCCC;
  cursor: pointer;
}

footer .chat .toggle-icon, footer .chat .status-text {
  display: none;
}

footer .chat.active {
  height: 400px;
  width: 336px;
  max-height: calc(100vh - 90px);
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition-duration: 167ms;
          transition-duration: 167ms;
  background: #fff;
  -webkit-box-shadow: 0px 0px 5px #CCCCCC;
          box-shadow: 0px 0px 5px #CCCCCC;
}

footer .chat.active .toggle-icon, footer .chat.active .status-text {
  display: block;
}

footer .chat.active .status-text {
  color: #535353;
  margin-left: 8px;
  font-size: 12px;
}

footer .chat.active .header-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

footer .chat.active .header-row img {
  margin: 0;
}

footer .chat.active .msg-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

footer .chat header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 12px;
}

footer .chat header img {
  height: 16px;
  width: auto;
}

footer .chat header .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .chat header .header-row > * {
  margin-right: 6px;
}

footer .chat header .header-row .username {
  font-size: 14px;
  color: #535353;
  font-weight: 500;
}

footer .chat header .status-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4px;
}

footer .chat header .icon-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .chat header .icon-row > * {
  margin-left: 12px;
}

footer .chat .msg-content {
  display: none;
  width: 100%;
  height: 100%;
  position: relative;
}

footer .chat .msg {
  width: 100%;
  border-top: 1px solid #E1E1E1;
  overflow: scroll;
  height: calc(100% - 150px);
}

footer .chat .message {
  height: auto;
  width: 100%;
  padding: 12px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .chat .message .user-message {
  width: 100%;
  margin-top: 8px;
  margin-left: 24px;
}

footer .chat .message .user-header {
  font-size: 14px;
}

footer .chat .message .user-header .user-name {
  font-weight: 600;
  color: #000;
}

footer .chat .message .user-header .time {
  color: #535353;
  font-weight: 300;
  font-size: 12px;
}

footer .chat .message .msg-text {
  color: #535353;
  margin-top: 6px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: .2px;
}

footer .chat .message .msg-text .emphasis, footer .chat .message .msg-text .meeting-title {
  font-weight: 800;
  color: black;
}

footer .chat .message .msg-text .meeting-title {
  margin: 6px 0 2px;
}

footer .chat .message .msg-text .event-name {
  font-weight: 600;
  color: #000;
  margin: 16px 0 8px;
}

footer .chat #meeting-message {
  display: none;
}

footer .chat #meeting-message.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .chat .meeting-confirmation {
  width: 100%;
  height: 24px;
  margin-top: 16px;
  color: #ACACAC;
  text-align: center;
  font-size: 12px;
  display: none;
}

footer .chat .meeting-confirmation.active {
  display: block;
}

footer .chat .time-header {
  color: #ACACAC;
  text-transform: uppercase;
  clear: both;
  text-align: center;
  font-size: 12px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 400;
  padding: 6px;
  position: relative;
  z-index: 500;
  margin-top: 24px;
}

footer .chat .time-header :after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  background: #E1E1E1;
  left: 0;
  top: 45%;
  z-index: -1;
}

footer .chat .time-header span {
  background: white;
  padding: 0 16px;
}

footer .chat footer {
  position: absolute;
  bottom: 48px;
}

footer .chat footer img {
  width: 100%;
  height: auto;
}

#chat2 {
  display: none;
}

#chat2 .close {
  height: 16px;
  width: 16px;
  background-image: url("../assets/icon-x.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#chat2.notification header {
  background: #1C92C8;
}

#chat2.notification .username {
  color: #fff !important;
}

#chat2.notification .close {
  height: 16px;
  width: 16px;
  background-image: url("../assets/icon-x-wht.png");
}

#chat2 .meeting-pill-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 16px 0;
}

#chat2 .meeting-pill-container .meeting-pill {
  border-radius: 500px;
  border: 2px solid #1C92C8;
  color: #1C92C8;
  width: auto;
  height: 32px;
  padding: 0 16px;
  margin: 0 4px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 600;
  letter-spacing: .5;
  text-align: center;
}

#chat2 .meeting-pill-container .meeting-pill:hover {
  background: #1C92C8;
  color: white;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */