$blue-dark: #283E4A;
$blue-light: #1C92C8;
$nav-link-white: #E1E9EF;
$grey-light: #ACACAC;
$white: #fff;
$green: #469A1F;
$black: #000;
$black-text: #535353;
$border-color: #E1E1E1;
$box-shadow: #CCCCCC;
$pill-active: #5C6F7C;
$pill-inactive: #E6EAEE;
$divider: #EBEBEB;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul, ul, li {
	list-style-type: none;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    line-height: 1;
    font-family: sans-serif;
    font-size: 14px;
    background: #F5F5F5;
    letter-spacing: .5;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.container {
    width: 100%; height: 100%;
    padding: 16px;
}

::-webkit-scrollbar { 
    display: none; 
}

#content {
  width: 100%; height: 100%;
  height: 100vh;
  display: flex; justify-content: center; align-items: center;
  flex-direction: column;
  position: relative;
}

header {
    width: 100%;
    height: 52px;
    background: $white;
    position: relative; top: 0; left: 0;
    box-shadow: 0px 1px 5px $box-shadow;
    .header-container {
        position: relative;
        width: inherit; height: inherit;
        #search-bar {
            position: absolute; top: 0; left: 0; 
            height: inherit; width: auto;
        }
    }
}

.nav-links {
    width: auto;
    height: inherit;
    position: absolute; right: 0;
    display: flex; flex-direction: row;
    .link-picture {
        height: inherit; width: auto;
    }
    #link-meetings {
        width: 80px; height: inherit;
        position: relative;
        .link-container {
            height: 100%;
            width: 100%;
            display: flex; justify-content: center; align-items: center; flex-direction: column;
            p {
                font-size: 12px;
                color: $black;
            }
            img {
                margin-bottom: 6px;
            }
        }
        .active-bar {
            height: 2px; width: 100%;
            position: absolute; 
            background: $black;
            bottom: 0;
        }
    }
}

#page {
    height: calc(100vh - 55px);
    overflow: scroll;
    width: 100%;
    padding: 0 55px;

    .section-header h3{
        padding: 16px 0;
        text-align: center;
        width: 100%;
        font-weight: 600;
        text-decoration: underline;
        font-size: 16px;
        color: $black-text;
        .highlight {
            color: $blue-light;
           text-decoration-color: $blue-light !important;
        }
    }
}

#meetings {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    .col {
       img {
           display: block;
           margin: auto;
       }
    }
    .meeting-holder {
        background: $white;
        border-radius: 4px;
        border: 1px solid $border-color;
        box-shadow: 0px 0px 4px 1px $box-shadow;
        .section-title {
            padding: 24px 16px 0px 16px;
            border-bottom: 1px solid $divider;
            h2 {
                font-size: 18px;
                font-weight: 400;
                color: $black;
                display: block;
                margin-bottom: 16px;
            }
            .calendar-tabs {
                display: flex;flex-direction: row;
                margin-bottom: 16px;
                .pill {
                    cursor: pointer;
                    margin-right: 16px;
                    border-radius: 500px;
                    text-align: center;
                    background: $pill-inactive;
                    height: 32px;
                    padding: 0 16px;
                    p { 
                        vertical-align: middle;;
                        color: $black-text;
                        font-size: 16px;
                        line-height: 32px;
                    }
                }
                .active {
                    background: $pill-active;
                    p { 
                        color: $white
                    }
                }
            }
        }
        .holder-text {
            color: $grey-light;
            font-size: 14px;
            line-height: 1.7;
            font-size: 16px;
            margin: 16px 0;
            text-align: center;
            color: $grey-light;
            &.left {
                text-align: left;
            }
            p {
                margin-bottom: 8px;
            }
            .highlight {
                color: $blue-light;
                font-weight: 600;
            }
        }
    }
    #meetings-calendar {
        width: 100%;
        height: auto;
        min-width: 340px;
        #meeting1, #meeting2 {
            display: none;
        }
       
    }
    #instructions {
        min-width: 180px;
        width: 100%;
        height: auto;
        #footer-img {
            margin: auto;
        }
    }
   
  

    .divider {
        height: 2px; 
        width: 100%;
        background: $divider;
        margin: 16px 0;
    }

}

#scheduled1 {
    display: none;
    &.active {
        display: flex;
    }
}
#meetings-container {
    width: 100%
}

.cal-container {
    display: none;
    &.active {
        display: block;
    }
}
.meeting-section {
    width: 100%; height: auto;
    border-top: 1px solid $border-color;
    padding: 12px 16px;
    display: flex; flex-direction: row; justify-content: space-between;
    .prof-pic {
        margin-top: 4px;
    }
    .more {
        width: 40px; height: 40px;
        border-radius: 50%;
    }
    .meeting-details {
        padding:0 12px;
        font-size: 14px;
        color: $black-text;
        
        p {
            line-height: 1.7;
            font-size: 12px;
            letter-spacing: .5;
        }
        .title {
            font-size: 14px;
            font-weight: 700; color: black
        }
        .row-participants {
            display: flex; flex-direction: row;
            > .prof-pic:nth-child(n+1) {
                margin-left: -6px;
            }
            margin-top: 6px;
        }
        .send-date {
            color: $grey-light;
            font-weight: 600;
            letter-spacing: .4;
            margin-top: 12px;
        }
    }
}

#meetings-schedule {
    margin: 0 24px;
    width: 100%;
    .form-container {
        width: 100%; height: 100%;
        padding: 24px;
        section {
            margin-bottom: 32px;
        }
    }
    .form-input {
        width: 100%;
        margin-bottom: 16px;
        
        .input-title {
            font-size: 14px;
            color: $black;
            margin-bottom: 10px;
        }
        .input {
            width: 100%; min-height: 32px;
            border: 1px solid $black-text;
            border-radius: 2px;
            padding: 8px;
            height: auto;
            line-height: 1.25;

            &.inactive {
                color: $grey-light;
            }
            &.time-zone {
                display: flex; justify-content: space-between;
                align-items: center;
                padding: 0 16px;
            }
        }
        .input-row {
            display: flex; flex-direction: row;
            justify-content: space-between;
            > .input {
                width: auto; 
                display: flex; align-items: center;
                padding: 8px 48px;
            }
            .half {
                width: 47%;
                display: flex; justify-content: space-between;
                padding: 0 16px;
            }
            .fourth {
                width: 24%;
                padding: 0 16px;
                display: flex; justify-content: center;
                .arr-down {
                    margin-left: 16px;
                }

            }
        }
    }
}

.input-pill {
    border-radius: 500px;      
    height: 28px;
    width: 140px;
    background: $pill-inactive;
    padding: 0 16px;
    color: $black-text;
    display: flex; flex-direction: row; align-items: center;
    img {
        display: inline-block;
    }
    div {
        display: inline-block;
    }
    .participant-name {
        width: auto;
    }
}

.radio-container {
    display: flex; flex-direction: row;
    width: auto;
    margin-top: 16px;
    .radio {
        display: flex; flex-direction: row; align-items: center;;
        margin-right: 24px;
        .radio-select {
            width: 16px; height: 16px;
            border: 1px solid black;
            border-radius: 50%;
            margin-right: 16px;
            &.active {
                border: 5px solid $blue-light;
            }
        }
    }
    
}

.schedule-buttons {
    width: 100%;
    display: flex; justify-content: flex-end;
    .btn-container {
        display: flex; flex-direction: row;
    }
    .btn {
        height: 40px;
        padding: 0 24px;
        font-size: 18px; font-weight: 600;
        color: $grey-light;
        line-height: 40px;;
    }
    #submit {
        background: $blue-light;
        color: white;
        cursor: pointer;
        display: flex; flex-direction: row; align-items: center;
       &:active {
           background: $blue-dark;
       }
       &.success {
           background: $green;
       }
       #success-check {
           display: none;
           &.active {
               display: block;
               margin-left: 12px;;
           }
       }
    }
}

.prof-pic {
    background: white;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    &.md {
        width: 32px; height: 32px;   
    }
    &.lrg {
        width: 48px; height: 44px;   
    }
    &.sm {
        width: 24px; height: 24px;
    }
    &.user {
        background-image: url("img/picture-user.jpg")
    }
    &.troy {
        background-image: url("img/picture-troy.jpg")
    }
    &.jeff {
        background-image: url("img/picture-jeff.jpg")
    }
    position: relative;
    .status-icon {
        position: absolute;
        width: 10px; height: 10px;
        background: $green;
        border-radius: 50%;
        border: 1px solid #fff;
        bottom: 0; right: 0;
    }
}

#loader {
    display: none;
     border: 2px solid #f3f3f3; /* Light grey */
     border-top: 2px solid #3498db; /* Blue */
     border-radius: 50%;
     width: 16px;
     height: 16px;
     margin-left: 12px;
     animation: spin 2s linear infinite;
     &.active {
         display: block;
     }
 }

footer {
    position: fixed;
    z-index: 1000;
    display: flex; flex-direction: row-reverse; 
    position: fixed; bottom: 0; right: 0;
    overflow: visible;
    flex-wrap: nowrap;align-items: flex-end;

    #message-box {
        height: 48px;
        width: 280px;
        background: $white;
        display: flex; flex-direction: row; align-items: center;
        padding: 0 16px;
        border-radius: 5px 5px 0px 0px;
        margin-left: 16px;
        box-shadow: 0px 0px 7px $box-shadow;

        
        .message-status {
            > * {
                margin-right: 12px;
            }
            display: flex; flex-direction: row; align-items: center;
            h3 {
                font-weight: 500;
                color: $black-text;
                font-size: 14px;
                letter-spacing: .3px;
               
            }
        }
        .messaging-icons {
            
            position: absolute; right: 16px;
            display: flex; flex-direction: row; direction: flex-end;
            img {
                margin-left: 16px;
            }

        }
      
    }
    
        
        
        
    .chat {
        margin-left: 18px;
        background: $blue-dark;
        border-radius: 5px 5px 0px 0px;
        width: 195px; 
        height: 48px;
        transition-timing-function: cubic-bezier(0,0,.2,1);
        transition-duration: 167ms;
        display: block;
        box-shadow: 0px 0px 7px $box-shadow;
        cursor: pointer;
        .toggle-icon, .status-text {
            display: none;
        }
        &.active {
            height: 400px;
            width: 336px;
            max-height: calc(100vh - 90px);
            transition-timing-function: cubic-bezier(0,0,.2,1);
            transition-duration: 167ms;
            background: $white;
            box-shadow: 0px 0px 5px  $box-shadow;
            .toggle-icon, .status-text {
                display: block;
            }
            .status-text {
                color: $black-text;
                margin-left: 8px;
                font-size: 12px;
            }
            .header-row {
                flex-direction: column-reverse;
                align-items: flex-start;
                img {
                    margin: 0;
                }
                
            }
            .msg-content {
                display: flex;
                height: 100%;
            }
        }
        header {
            display: flex; flex-direction: row; justify-content: space-between; align-items: center;;
            padding: 0 12px;

            img {
                height: 16px; width: auto;
            }
            .header-row {
                display: flex; flex-direction: row; align-items: center;
                > * {
                    margin-right: 6px;
                }
                .username {
                    font-size: 14px; color: $black-text; font-weight: 500;
                }
              
            }
            .status-row {
                display: flex; flex-direction: row; align-items: center;
                margin-top: 4px;
            }
            .icon-row {
                display: flex; flex-direction: row-reverse;
                align-items: center;
                > * {
                    margin-left: 12px;
                }
            }
        }
        .msg-content {
            display: none;
            width: 100%;
            height: 100%;
            position: relative;
        }
        .msg {
            width: 100%; 
            border-top: 1px solid $border-color;
            overflow: scroll;
            height: calc(100% - 150px);
        }
        .message {
            height: auto;
            width: 100%;
            padding: 12px 24px;
            display: flex; flex-direction: row;
            .user-message {
                width: 100%;
                margin-top: 8px;
                margin-left: 24px;
            }
            .user-header {
                font-size: 14px;
                .user-name {
                    font-weight: 600;
                    color: $black;
                }
                .time {
                    color: $black-text;
                    font-weight: 300;
                    font-size: 12px;
                }
            }
            .msg-text {
                color: $black-text;
                margin-top: 6px;
                font-size: 14px;
                line-height: 1.7;
                letter-spacing: .2px;
                .emphasis, .meeting-title {
                    font-weight: 800;
                    color: black;
                }
                .meeting-title {
                    margin: 6px 0 2px;
                }
                .event-name {
                    font-weight: 600;
                    color: $black;
                    margin: 16px 0 8px;
                }
            }
        }
        #meeting-message {
            display: none;
            &.active {
                display: flex;
            }
        }
        .meeting-confirmation {
            width: 100%;
            height: 24px;
            margin-top: 16px;
            color: $grey-light;
            text-align: center;
            font-size: 12px;
            display: none;
            &.active {
                display: block;
            }
        }
        .time-header {
            color: $grey-light;
            text-transform: uppercase;
            clear: both;
            text-align: center;
            font-size: 12px;
            width: 100%;
            letter-spacing: 1px;
            font-weight: 400;
            padding: 6px;
            position: relative;
            z-index: 500;
            margin-top: 24px;
            :after {
                position: absolute;
                content:"";
                height: 1px;
                width: 100%;
                background: $border-color;
                left: 0;
                top: 45%;
                z-index: -1;
            }
            span {
                background: white;
                padding: 0 16px;
            }
        }
       
        footer {
            position: absolute; bottom: 48px;
            img {
                width: 100%; height: auto;
            }
        }
       
    }
    
}

#chat2 {
    display: none;
  
    &.notification {
        header {
            background: $blue-light;
        }
        .username {
            color: $white !important;
        }
    }
   .meeting-pill-container {
       display: flex; flex-direction: row; justify-content: center; align-items: center;
       margin: 16px 0;
       .meeting-pill {
           border-radius: 500px;
           border: 2px solid $blue-light;
           color: $blue-light;
           width: auto;
           height: 32px;
           padding: 0 16px;
           margin: 0 4px;
           font-size: 14px;
           line-height: 30px;
           font-weight: 600;
           letter-spacing: .5;
           text-align: center;
           &:hover {
               background: $blue-light;
               color: white;
           }
       }
   }
  

}



  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
